/* Place your CSS styles in this file */

body {
    background-color:ivory;
    border: 5px solid antiquewhite;
    border-radius: 15px;
}

ul {
    list-style-type: none;
    background-color:ivory;
    border: 5px solid antiquewhite;
    border-radius: 15px;
}

li {
    display: inline;
}

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color:#e9967a;
}

p {
    text-align: justify;
}
